<!DOCTYPE html>
<html>
<head>
	<title>TrackHills</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
    
</head>
<body>

	<div id="header">
		<h1>WELCOME TO TRACKHILLS</h1>
		<hr>
		<!-- <caption><em>JUST IMAGINE</em></caption> -->
		<a href="/campgrounds" class="btn btn-lg btn-success">CLICK TO EXPLORE</a>
	</div>

	<ul class="slideshow">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</body>
</html>